<html lang="en">

<head>
    <title>Book Management Information System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
        integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>


</head>

<body>
    <div class="container" id="app">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">Book Management Information System</div>
            <div class="card-body">
                <h4 class="card-title">Register</h4>
                <form>
                    <div class="form-group">
                        <label for="FirstName" class="form-label mt-4">First Name:</label>
                        <input type="text" class="form-control" v-model="FirstName" id="FirstName" required
                            placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="form-label mt-4">Last Name:</label>
                        <input type="text" class="form-control" v-model="LastName" id="LastName" required
                            placeholder="Enter last name">
                    </div>
                    <div class="form-group">
                        <label for="UserName" class="form-label mt-4">User Name:</label>
                        <input type="text" class="form-control" v-model="UserName" id="UserName" required
                            placeholder="Enter user name">
                    </div>
                    <div class="form-group">
                        <label for="Password" class="form-label mt-4">Password:</label>
                        <input type="password" class="form-control" id="Password" v-model="Password" required
                            placeholder="Password">
                    </div>
            </div>
            <div class="form-group" v-if="Role == 'Chief' ">
                <label for="Role" class="form-label mt-4">Select Role:</label>
                <br>
                <select multiple="" class="form-select" id="Role">
                    <option>Customer</option>
                    <option>Vendor</option>
                    <option>Chief</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" value="Add" @click="createUser()"> Register</button>
            </div>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    <style>
        .container {
            display: flex;
            position: absolute;
            top: 10%;
            transform: translate(350px, 20px);
            justify-content: center;

        }

        button {
            transform: translate(0px, 60px);
        }
    </style>

    <script>
        var app = new Vue({
            el: '#app',

            data: {

                FirstName: '',
                LastName: '',
                UserName: '',
                Password: '',
                Role: ''
            },
            mounted: function () {
                console.log('Hello From sidh and Vue');
            },

            methods: {
                createUser: function () {
                    console.log("Creating user!")

                    let formData = new FormData();
                    console.log("FirstName:", this.FirstName)
                    formData.append('LastName', this.LastName)
                    formData.append('UserName', this.UserName)
                    formData.append('Password', this.Password)
                    formData.append('Role', this.Role)

                    var user = {};
                    formData.forEach(function (value, key) {
                        user[key] = value;
                    });

                    axios({
                        method: 'post',
                        url: 'requests/register.php',
                        data: formData,
                        config: { headers: { 'Content-Type': 'multipart/form-data' } }
                    })
                        .then(function (response) {
                            //handle success
                            console.log(response)
                            app.users.push(user);
                            app.resetForm();
                        })
                        .catch(function (response) {
                            //handle error
                            console.log(response)
                        });
                },
                resetForm: function () {
                    this.FirstName = '';
                    this.LastName = '';
                    this.UserName = '';
                    this.Password = '';
                }
            }
        })
    </script>
</body>

</html>