<html lang="en">

<head>
    <title>Book Management Information System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
        integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>


</head>

<body>
    <div class="container" id="app">
        <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">Book Management Information System</div>
            <div class="card-body">
                <h4 class="card-title">Register</h4>
                <form action="register.php" method="POST">
                    <div class="form-group">
                        <label for="FirstName" class="form-label mt-4">First Name:</label>
                        <input type="text" class="form-control" id="FirstName" placeholder="Enter first name">
                    </div>
                    <div class="form-group">
                        <label for="LastName" class="form-label mt-4">Last Name:</label>
                        <input type="text" class="form-control" id="LastName" placeholder="Enter last name">
                    </div>
                    <div class="form-group">
                        <label for="UserName" class="form-label mt-4">User Name:</label>
                        <input type="text" class="form-control" id="UserName" placeholder="Enter user name">
                    </div>
                    <div class="form-group">
                        <label for="Password" class="form-label mt-4">Password:</label>
                        <input type="password" class="form-control" id="Password" v-model="user.password"
                            v-validate="'required|min:6|max:40'" placeholder="Password">
                    </div>
                    <div v-if="submitted && errors.has('password')" class="alert-danger">{{errors.first('password')}}
                    </div>
            </div>
            <div class="form-group">
                <label for="Role" class="form-label mt-4">Select Role:</label>
                <br>
                <select multiple="" class="form-select" id="Role">
                    <option>Customer</option>
                    <option>Vendor</option>
                    <option>Chief</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"> Register</button>
            </div>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>
</body>
<style>
    .container {
        display: flex;
        position: absolute;
        top: 10%;
        transform: translate(350px, 20px);
        justify-content: center;

    }

    button {
        transform: translate(0px, 60px);
    }
</style>